<section class="section" aria-labelledby="management-label">
  <%- messages() %>

    <% if (errors) { %>
      <ul class="notice">
        <% errors.array().forEach(error=> { %>
          <li>
            <%= error.msg %>
          </li>
          <% }) %>
      </ul>
      <% } %>

        <div class="container btn-box-container">
          <% if (title) { %>
            <div class="btn-box">

              <h1 class="h2 section-title">
                <%= title %>
              </h1>

              <div class="btn-spacer">
                <a href="/inv/add-make" class="btn-add-make">
                  <span class="span">Add New Make</span>
                </a>
                <a href="/inv/add-inventory" class="btn-add-car">
                  <span class="span">Add New Vehicle</span>
                </a>
              </div>

            </div>

            <% } else { res.redirect('/') } %>

              <%- messages() %>
                <%# grid %>
        </div>
</section>